header{
    position: fixed ;
    top: 0;
    background-color: var(--header-bg-color);
    width: 100%;
    color: var(--usually-white);
    fill: var(--usually-white);
    height: 55px;
    z-index: 1000;
}

.logo{
    max-height: 30px;
}

.left-section{
    min-width:25%;

    a{
        margin-right: 10px;
    }
}

.right-section{
    min-width: 25%;

    i{
        margin-left: 15px;
    }
}