/* per ogni immagine prodotto, quando hover, mostrare seconda foto */

/* PER BONUS HAI UN'ALTRA CARTELLA */

main{
    max-width: 80%;
    margin: 50px auto 0 auto;
}

.sconti{
    margin-left: 10px;
    z-index: 50;
}

.row{
    min-width: 100%;
}

.img-product{
    height: 100%;
}

.container{
    max-width: 1200px;
    width: 80%;
}

.img-prodotto{
    max-width: 100%;
}

.cuoricino{
    right: 0;
    margin-top: 10px;
    background-color: var(--usually-white);
    padding: 10px;
}

.banner-sconto-sostenibilità{
    font-size: 10px;
    color: var(--usually-white);
}

.sconto{
    bottom: 0;
    margin-bottom: 50px;
    padding: 2px 7px;
    background-color: var(--discount-bg-actualprice-color);
}

.sostenibilità{
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 42px;
    padding: 2px 7px;
    background-color: var(--sustainability-bg-color);
}

.marca{
    color: var(--brand-color-text);
    font-size: 10px;
}

.modello{
    font-size: 13px;
    margin: 4px 0px;
}

.modello:active{
    color: var(--discount-bg-actualprice-color);
}

.modello:visited{
    color: initial;
    text-transform: initial;
}

.prezzo-scontato{
    color: var(--discount-color-text);
    font-size: 10px;
    
    align-items:center;
}

.prezzo-originale{
    color: var(--brand-color-text);
    margin-left: 5px;
    font-size: 8px;
    text-decoration: line-through;  /* Sbarratura testo */
}