*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px dashed grey;
}

:root{
    --header-bg-color: #FF6800;
    --discount-bg-actualprice-color: #FF0000;
    --sustainability-bg-color: #008001;
    --usually-white: white;
    --usually-black: black;
}

body{
    background-color:white;

    header,
    main,
    footer{
        min-width: 1200px;
    }
}

.cursor{
    cursor: pointer;
}