*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px dashed grey;
}

:root{
    --header-bg-color: #FF6800;
    --discount-bg-actualprice-color: #FF0000;
    --sustainability-bg-color: #008001;
    --usually-white: white;
    --usually-black: black;
}


/*Nesting*/
body{
    background-color:white;

    header{
        position: fixed;
        background-color: var(--header-bg-color);
        width: 100%;
    }
    
    main,
    footer{
        max-width: 1200px;
        
        background-color: lightblue;  /* <-- DEBUG */
    }
}

a{
    cursor: pointer;
}


/*Cursor*/
.cursor{
    cursor: pointer;
}


/*Width*/
.w-80{
    width: 80%;
}

.w-calc{
    width: calc(100%/12/4);  /* se problema passa a MAXWIDTH */
}


/*Display porperties*/
.flex{
    display: flex;
}

.dir-col{
    flex-direction: column;
}

.dir-row{
    flex-direction: row;
}

.jc-sb{
    justify-content: space-between;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}
